<div class="flex justify-center px-10 py-10 mx-auto md:pb-40 md:px-24">
  <div id="insight" class="container flex flex-col gap-16 scroll-m-10">
    <h2
      class="font-bold text-4xl text-center leading-[3rem] tracking-wider text-primary"
    >
      Our Latest Insights
    </h2>

    <div
      class="grid grid-cols-1 gap-6 justify-items-center sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4"
    >
      <app-insight-card
        *ngFor="let insight of insights"
        [insight]="insight"
      ></app-insight-card>
    </div>
    <app-arrow-link
      class="self-center sm:self-end text-secondary"
      href="#insights"
      >View all our news</app-arrow-link
    >
  </div>
</div>
