<div class="px-10 py-10 bg-white md:py-40 md:px-24">
  <div
    id="offer"
    class="container grid grid-cols-1 gap-10 mx-auto scroll-m-10 lg:grid-cols-2"
  >
    <!-- text -->
    <div
      data-aos="fade-up"
      data-aos-duration="1000"
      class="flex flex-col items-center justify-center w-full max-w-lg gap-4 mx-auto text-center lg:items-start lg:text-start lg:mr-auto"
    >
      <h2
        class="font-bold text-4xl flex flex-col capitalize text-center lg:text-start leading-[2.5rem] tracking-wider text-primary"
      >
        <span>Summer Offers</span><span>Are Here!</span>
      </h2>
      <p class="text-lg font-light leading-7 tracking-tight text-slate-600">
        Etiam condimentum duis molestie malesuada volutpat pellentesque sed.
        Ornare suspendisse ut ac neque lobortis sed tincidunt. Mi tempus quis
        massa tellus imperdiet aenean nulla id.
      </p>

      <app-arrow-link class="text-secondary" href="#offer">
        <p>
          Use code <span class="font-bold">SUMMER10</span> to redeem the offer
        </p>
      </app-arrow-link>
    </div>

    <!-- images -->
    <div
      data-aos="fade-up"
      data-aos-duration="1000"
      data-aos-delay="400"
      class="grid grid-cols-3 h-96 lg:h-[464px] gap-4 relative place-items-center w-fit ml-auto mx-auto"
    >
      <div
        class="flex flex-col self-end h-72 lg:h-96 rounded-2xl overflow-clip max-w-[200px]"
      >
        <img class="object-cover w-full h-full" [src]="offer1" alt="Offers" />
      </div>
      <div
        class="flex flex-col self-start bg-green-30 h-72 lg:h-96 rounded-2xl overflow-clip max-w-[200px]"
      >
        <img class="object-cover w-full h-full" [src]="offer2" alt="Offers" />
      </div>
      <div
        class="flex flex-col self-center bg-green-30 h-72 lg:h-96 rounded-2xl overflow-clip max-w-[200px]"
      >
        <img class="object-cover w-full h-full" [src]="offer3" alt="Offers" />
      </div>
    </div>
  </div>
</div>
