<form
  [formGroup]="renewalForm"
  (ngSubmit)="handleSubmit()"
  class="flex flex-col gap-8 px-6 py-10 bg-white/70 rounded-3xl backdrop-blur-sm"
>
  <h3 class="font-semibold text-primary">Quick Motor Renewal</h3>
  <!-- fields -->
  <div class="flex flex-col gap-6">
    <!-- plate no -->
    <div class="flex flex-col">
      <label class="text-primary" for="plate-no">Plate No.</label>
      <input
        id="plate-no"
        type="text"
        formControlName="plateNo"
        placeholder="Enter your plate number"
        class="px-4 py-2 rounded-md bg-white/10 backdrop-blur-sm text-primary"
      />
      <p
        class="mt-1 text-xs text-red-600"
        *ngIf="renewalForm.controls.plateNo.touched && renewalForm.controls.plateNo.errors?.['required']"
      >
        Plate number is required
      </p>
    </div>
    <!-- cpr -->
    <div class="flex flex-col">
      <label class="text-primary" for="cpr">CPR</label>
      <input
        id="cpr"
        type="text"
        formControlName="cpr"
        placeholder="Enter your personal ID"
        class="px-4 py-2 rounded-md bg-white/10 backdrop-blur-sm text-primary"
      />
      <p
        class="mt-1 text-xs text-red-600"
        *ngIf="renewalForm.controls.cpr.touched && renewalForm.controls.plateNo.errors?.['required']"
      >
        CPR is required
      </p>
    </div>
  </div>

  <button class="w-full btn-gradient" type="submit">Renew Policy</button>
</form>
