<div id="services" class="container mx-auto">
  <div class="justify-center text-center py-14 mt-14">
    <p class="text-5xl font-bold text-primary">Your Protection</p>
    <p class="text-5xl font-normal text-primary">Starts Here</p>
  </div>
  <div
    class="grid grid-cols-1 gap-4 px-10 mb-24 md:px-24 justify-items-center sm:grid-cols-2 xl:grid-cols-4"
  >
    <app-service-card
      *ngFor="let service of serviceData"
      serviceIcon="{{ service.icon }}"
      serviceTitle="{{ service.title }}"
      serviceDescription="{{ service.description }}"
      serviceLink="{{ service.link }}"
    ></app-service-card>
  </div>
</div>
