.ui-collapse-title,
:where(.ui-collapse > input[type="checkbox"]),
:where(.ui-collapse > input[type="radio"]) {
  min-height: -moz-fit-content;
  min-height: fit-content;
}

.ui-collapse-plus > .ui-collapse-title:after {
  top: 1rem !important;
}
