<!-- menu -->

<div
  class="absolute top-0 left-0 right-0 z-40 duration-300 hover:bg-white rounded-b-[3rem] group/nav"
>
  <div class="container mx-auto">
    <div
      class="flex items-center justify-between w-full px-10 mx-auto text-white max-2xl:py-6 group-hover/nav:text-primary gap-14"
    >
      <a routerLink="/" class="relative w-20 h-8 md:w-32 md:h-12 min-w-fit">
        <!-- logo -->
        <img
          class="object-contain w-full h-full group-hover/nav:hidden"
          [src]="navBarLogo"
          alt="Snic Logo"
        />
        <img
          class="hidden object-contain w-full h-full group-hover/nav:block"
          [src]="navBarLogoDark"
          alt="Snic Logo"
        />
      </a>
      <!-- links -->
      <div class="flex-wrap items-center hidden 2xl:flex grow">
        <div
          *ngFor="let link of pagesLinks"
          class="px-4 py-10 group/link hover:text-secondary"
        >
          <app-arrow-link
            class="z-20 text-sm font-light duration-100 hover:underline"
            [routerLink]="link.href"
            routerLinkActive="!font-bold"
            >{{ link.name }}</app-arrow-link
          >
          <!-- sub links -->
          <div
            *ngIf="link.subLinks"
            class="absolute flex top-0 left-0 right-0 -translate-y-full -z-10 p-6 pb-12 pt-32 bg-white text-primary rounded-b-[3rem] group-hover/link:translate-y-0 duration-300 opacity-0 group-hover/link:opacity-100"
          >
            <div class="container grid max-w-4xl grid-cols-3 gap-6 mx-auto">
              <div
                *ngFor="let subLink of link.subLinks"
                class="flex flex-col max-w-3xl gap-3 hover:text-secondary"
              >
                <div class="flex items-center justify-start gap-3">
                  <app-arrow-link class="w-fit" [routerLink]="subLink.href"
                    ><div
                      class="flex flex-col items-center justify-center w-6 h-6"
                    >
                      <svg-icon class="w-4" [src]="subLink.logo ?? navMenu" />
                    </div>
                    {{ subLink.name }}</app-arrow-link
                  >
                </div>
                <!-- sub sub links -->
                <div *ngIf="subLink.subLinks" class="flex flex-col gap-2">
                  <app-arrow-link
                    class="text-sm font-light text-slate-500 hover:text-secondary/70"
                    *ngFor="let subTheSub of subLink.subLinks"
                    [routerLink]="subTheSub.href"
                    >{{ subTheSub.name }}</app-arrow-link
                  >
                </div>
              </div>
            </div>
          </div>
          <div
            *ngIf="link.subLinks"
            class="fixed top-0 left-0 hidden w-screen h-screen pointer-events-none bg-black/50 -z-20 group-hover/link:block"
          ></div>
        </div>
      </div>
      <!-- actions -->
      <div class="flex items-center gap-3">
        <button
          *ngIf="false"
          type="button"
          class="items-center hidden h-8 gap-2 p-2 rounded-full md:flex hover:bg-white/30 group-hover/nav:hover:bg-primary/10 min-w-fit"
        >
          <!-- lang icon btn -->
          <svg-icon
            class="w-full h-full"
            [src]="navGlobe"
            alt="Language switcher"
          />
          <p>EN</p>
        </button>
        <button
          type="button"
          *ngIf="true"
          class="items-center hidden h-8 gap-2 p-2 rounded-full md:flex hover:bg-white/30 group-hover/nav:hover:bg-primary/10 min-w-fit"
        >
          <!-- lang icon btn -->
          <svg-icon
            class="w-full h-full"
            [src]="navGlobe"
            alt="Language switcher"
          />
          <p>AR</p>
        </button>
        <!-- search icon btn -->
        <button
          type="button"
          class="relative w-8 h-8 p-2 rounded-full aspect-square hover:bg-white/30 group-hover/nav:hover:bg-primary/10"
        >
          <svg-icon class="w-full h-full" [src]="navSearch" alt="Search" />
        </button>
        <!-- menu icon btn -->
        <button
          (click)="toggleMenu()"
          type="button"
          class="relative w-8 h-8 p-1 rounded-full 2xl:hidden aspect-square hover:bg-white/30 group-hover/nav:hover:bg-primary/10"
        >
          <svg-icon class="w-full h-full" [src]="navMenu" alt="Open Menu" />
        </button>
        <!-- Login -->
        <button
          class="hidden btn-primary md:block group-hover/nav:border-primary group-hover/nav:hover:bg-primary/20"
          type="button"
        >
          Login
        </button>
      </div>
    </div>
  </div>
</div>

<!-- menu overlay -->
<div
  [ngClass]="[
    'duration-300 absolute top-0 left-0 bottom-0 opacity-0 right-0 bg-primary p-10 text-white z-50',
    isMenuOverlayOpen
      ? 'translate-y-0 2xl:-translate-y-full opacity-100'
      : '-translate-y-full'
  ]"
>
  <div class="container flex flex-col gap-10 mx-auto">
    <!-- header -->
    <div class="flex items-center justify-between">
      <h2
        class="font-bold text-2xl text-center md:text-start leading-[3rem] tracking-wider text-white max-w-lg"
      >
        Menu
      </h2>
      <!-- menu icon btn -->
      <button
        (click)="toggleMenu()"
        type="button"
        class="relative w-8 h-8 p-1 rounded-full 2xl:hidden aspect-square hover:bg-white/30"
      >
        <img class="w-full h-full" [src]="navClose" alt="Close" />
      </button>
    </div>
    <!-- login & lang -->
    <div class="flex items-center justify-between">
      <!-- lang switcher-->
      <div>
        <button
          type="button"
          class="flex items-center h-8 gap-2 p-2 text-white rounded-full hover:bg-white/30 min-w-fit"
        >
          <!-- lang icon btn -->
          <svg-icon
            class="w-full h-full"
            [src]="navGlobe"
            alt="Language switcher"
          />
          <p>EN</p>
        </button>
        <button
          type="button"
          class="flex items-center h-8 gap-2 p-2 text-white rounded-full hover:bg-white/30 min-w-fit"
        >
          <!-- lang icon btn -->
          <svg-icon
            class="w-full h-full"
            [src]="navGlobe"
            alt="Language switcher"
          />
          <p>AR</p>
        </button>
      </div>
      <!-- hamburger menu - login button -->
      <button class="btn-primary" type="button">Login</button>
    </div>
    <div class="w-full h-[1px] bg-white"></div>
    <!-- links -->
    <div
      class="grid items-center justify-between grid-cols-1 gap-10 place-items-stretch sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
    >
      <a
        class="text-lg font-light text-white duration-150 hover:underline"
        *ngFor="let link of pagesLinks"
        [routerLink]="link.href"
        routerLinkActive="!font-bold"
        >{{ link.name }}</a
      >
    </div>
  </div>
</div>
