<div
  class="relative rounded-t-[3rem] overflow-clip px-10 py-10 lg:py-20 lg:px-24"
>
  <!-- content -->
  <div class="container z-10 flex flex-col gap-10 mx-auto text-white">
    <!-- links -->
    <div
      class="grid grid-cols-1 font-light gap-9 md:gap-y-20 md:grid-cols-3 xl:grid-cols-6 auto-cols-max"
    >
      <div class="flex flex-col gap-6 w-fit max-sm:text-center">
        <a class="hidden font-semibold md:block" href="#">Individual</a>
        <a class="hidden md:block" href="#">Motor</a>
        <a class="hidden md:block" href="#">Medical</a>
        <a class="hidden md:block" href="#">Travel</a>
        <a class="hidden md:block" href="#">Saving & Protection</a>
        <a class="hidden md:block" href="#">Home</a>
        <a class="hidden md:block" href="#">Marine</a>
      </div>
      <div class="flex flex-col gap-6 w-fit max-sm:text-center">
        <a class="hidden font-semibold md:block" href="#">Corporate</a>
        <a class="hidden md:block" href="#">Motor</a>
        <a class="hidden md:block" href="#">Group Medical</a>
        <a class="hidden md:block" href="#">Group Life</a>
        <a class="hidden md:block" href="#">Travel</a>
        <a class="hidden md:block" href="#">Marine</a>
        <a class="hidden md:block" href="#">Property</a>
      </div>
      <div class="flex flex-col gap-6 w-fit max-sm:text-center">
        <a class="font-semibold" href="#">About Us</a>
        <a class="hidden md:block" href="#">Profile</a>
        <a class="hidden md:block" href="#">Board of Directors</a>
        <a class="hidden md:block" href="#">Executive Management</a>
        <a class="hidden md:block" href="#">Financial Reports</a>
        <a class="hidden md:block" href="#">Careers</a>
        <a class="hidden md:block" href="#">News</a>
      </div>
      <div class="flex flex-col gap-6 w-fit max-sm:text-center">
        <a class="font-semibold" href="#">Quick Renewal</a>
        <a class="hidden md:block" href="#">Motor Insurance Renewal</a>
        <a class="hidden md:block" href="#">Home Renewal</a>
      </div>
      <div class="flex flex-col gap-6 w-fit max-sm:text-center">
        <a class="font-semibold" href="#">Claims</a>
        <a class="hidden md:block" href="#">Motor Claim</a>
        <a class="hidden md:block" href="#">Medical Claim</a>
      </div>
      <div class="flex flex-col gap-6 max-sm:text-center">
        <a class="font-semibold w-fit" href="#">Contact Us</a>
        <a class="w-fit" href="#">Complaints</a>
        <a class="w-fit" href="#">Location</a>
        <a class="w-fit" href="#">+973 17563377</a>
        <a class="w-fit" href="#">snicbh@snic.com.bh</a>
      </div>
    </div>
    <!-- logos -->
    <div class="flex justify-between">
      <div class="relative w-20 h-8 md:w-32 md:h-12 min-w-fit">
        <img
          class="object-contain w-full h-full"
          [src]="navBarLogo"
          alt="Snic Logo"
        />
      </div>
      <div class="relative w-20 h-8 md:w-32 md:h-12 min-w-fit">
        <img
          class="object-contain w-full h-full"
          [src]="bestLogo"
          alt="Best Logo"
        />
      </div>
    </div>

    <!-- social  -->
    <div
      class="grid grid-cols-1 gap-6 text-sm font-light sm:grid-cols-2 lg:grid-cols-3 place-content-center"
    >
      <p>
        © 2023 SNIC Insurance <br />
        Licensed By The Central Bank Of Bahrain As A Conventional Insurance
        Firm.
      </p>

      <div class="flex items-center justify-center gap-8">
        <a href="#">Privacy Policy</a>
        <a href="#">Terms & Conditions</a>
      </div>

      <div
        class="flex flex-wrap items-center justify-center gap-4 sm:justify-end sm:col-span-2 lg:col-span-1"
      >
        <div class="flex items-center gap-4">
          <a href="#" class="w-6 h-6">
            <svg-icon
              class="w-full h-full"
              [src]="instagram"
              alt="SNIC Instagram"
            />
          </a>
          <a href="#" class="w-6 h-6">
            <svg-icon
              class="w-full h-full"
              [src]="linkedin"
              alt="SNIC Linkedin"
            />
          </a>
        </div>
        <div class="flex items-center gap-4">
          <a
            href="#download"
            class="duration-300 rounded-md hover:-translate-y-1 hover:brightness-125"
          >
            <img class="h-10" [src]="appStore" alt="AppStore" />
          </a>
          <a
            href="#download"
            class="duration-300 rounded-md hover:-translate-y-1 hover:brightness-125"
          >
            <img class="h-10" [src]="playStore" alt="PlayStore" />
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- bg Video -->
  <div
    class="absolute top-0 bottom-0 left-0 right-0 object-cover w-full h-full bg-primary -z-30"
  ></div>
  <video
    class="absolute top-0 bottom-0 left-0 right-0 object-cover w-full h-full bg-primary -z-20"
    autoplay
    muted
    loop
    playsinline
    (controls)="(false)"
    (play)="(true)"
  >
    <source [src]="bgVideo" type="video/mp4" />
  </video>
  <!-- video overlay -->
  <div
    class="absolute -z-10 top-0 right-0 bottom-0 left-0 w-full h-full bg-gradient-to-b from-[rgba(16,37,87,0.59)] to-[rgba(16,37,87,0.00)]"
  ></div>
</div>
