<div id="download" class="relative flex flex-col px-10 py-40 md:px-24">
  <div
    data-aos="fade-up"
    data-aos-duration="1000"
    class="container flex flex-col w-full gap-6 mx-auto max-md:items-center max-md:mx-auto max-md:text-center"
  >
    <!-- text -->
    <div class="flex flex-col gap-3">
      <h2
        class="font-bold text-4xl capitalize text-center md:text-start leading-[2.5rem] tracking-wider text-white max-w-lg"
      >
        Insurance right in your pocket
      </h2>
      <p class="text-lg font-light leading-7 tracking-tight text-white">
        Take SNIC with you everywhere you go. Your protection is in your hands.
      </p>
    </div>
    <!-- buttons -->
    <div class="flex flex-wrap max-sm:justify-center gap-4">
      <a
        href="#download"
        class="duration-300 rounded-md hover:-translate-y-1 hover:brightness-125"
      >
        <img class="h-10" [src]="bannerAppStore" alt="AppStore" />
      </a>
      <a
        href="#download"
        class="duration-300 rounded-md hover:-translate-y-1 hover:brightness-125"
      >
        <img class="h-10" [src]="bannerPlayStore" alt="PlayStore" />
      </a>
      <a
        href="#download"
        class="duration-300 rounded-md hover:-translate-y-1 hover:brightness-125"
      >
        <img class="h-10" [src]="bannerHuawei" alt="Huawei" />
      </a>
    </div>
  </div>

  <!-- Image overlay -->
  <div
    class="absolute top-0 bottom-0 left-0 right-0 duration-300 -z-10 bg-gradient-to-b from-[rgba(16,37,87,0.59)] to-[rgba(16,37,87,0.00)] opacity-100"
  ></div>

  <!-- image -->
  <div class="absolute top-0 bottom-0 left-0 right-0 -z-20">
    <img
      [src]="banner"
      alt="Download SNIC app"
      class="object-cover w-full h-full rtl:hidden"
    />
    <img
      [src]="bannerRTL"
      alt="Download SNIC app"
      class="object-cover w-full h-full ltr:hidden"
    />
  </div>
</div>
